.container {
    height: 500px;
    width: 100%;
}

.map {
    position: relative;
    float: left;
}

.weather {
    position: relative;
    float: left;
    height: 500px;
    width: 40%;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.weather p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info {
    position: absolute;
    left: 8%;
}

.location {
    font-size: 20px;
}

.temperature {
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 0px;
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://www2.naz.edu/packages/www_naz_edu/themes/naz_main/images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}